@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap&subset=latin-ext');

body {
    background: rgb(27, 27, 65);
    background: linear-gradient(90deg, rgba(27, 27, 65, 1) 12%, rgba(86, 16, 175, 1) 100%);
    color: white;
    font-family: 'Josefin Sans';
    user-select: none;
}

header {
    text-align: center;
    margin: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white!important;
}